doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
        a(href=`https://github.com/login/oauth/authorize?client_id=${clientId}`) I am a button
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.